<p>
  <b>Name:</b>
  <%= @example.name %>
</p>

<p>
  <b>Age:</b>
  <%= @example.age %>
</p>

<p>
  <b>Born at:</b>
  <%= @example.born_at %>
</p>


<%= link_to 'Back', examples_path, class: "btn" %>
